{% extends "iftsite/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} login {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-main col-md-4 col-md-offset-4">
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|crispy }}

          <input class="btn btn-success" type="submit" value="{% trans 'Log in' %}" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <br>
        <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
      </div>
    </div>
</div>

{% endblock %}
