{% extends "iftsite/base.html" %}
{% load i18n %}
{% block title %} logout {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-main col-md-4 col-md-offset-4">
        <p>{% trans "Logged out" %}</p>
      </div>
    </div>
</div>
{% endblock %}
