{% extends "iftsite/base.html" %}
{% load i18n %}
{% block title %} password {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-main col-md-4 col-md-offset-4">
        <p>{% trans "Password reset successfully" %}</p>
        <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
      </div>
    </div>
</div>

{% endblock %}
