{% extends "iftsite/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} password {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-main col-md-4 col-md-offset-4">
        {% if validlink %}
            <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}

              <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        {% else %}

        <p>{% trans "Password reset failed" %}</p>

        {% endif %}
      </div>
    </div>
</div>

{% endblock %}
