{% extends "iftsite/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} registration {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-main col-md-4 col-md-offset-4">
      	<h3>{% trans "Registration" %}</h3>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}" />
        </form>
      </div>
    </div>
</div>
<div class="modal fade" id="tos-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ tos.title }}</h4>
      </div>
      <div class="modal-body blog-main">
        {{ tos.text|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
