{% extends "iftsite/base.html" %}
{% load i18n %}
{% block title %} registration {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-main col-md-4 col-md-offset-4">
        <p>{% trans "You are now registered. Activation email sent." %}</p>
      </div>
    </div>
</div>
{% endblock %}