{% extends 'iftsite/base.html' %}
{% load i18n %}
{% block title %} Atractions {% endblock %}
{% block content %}

{% trans "Brazil" as brazil %} 
{% trans "Argentina" as argentina %} 
{% trans "Paraguay" as paraguay %} 

  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 blog-main">
          <div class="blog-header">
            <a class="anchor" id="top"></a>
            <h1 class="blog-title">{% trans "Atractions" %}</h1>
            <p class="lead blog-description">{% trans "Checkout the atractions in the tripoint." %}</p>
          </div>
          <div class="blog-post">
            <a class="anchor" id="br"></a>
            <h2 class="blog-post-title">{{ brazil }}</h2>
            <hr>
              {% for atraction in br_atractions %}
                <a class="anchor" id="{{ atraction.id }}"></a>
                <h3>{{ atraction.name }}</h3>
                {{ atraction.description | safe }}
              {% endfor %}
          </div>
          <div class="blog-post">
            <a class="anchor" id="ar"></a>
            <h2 class="blog-post-title">{{ argentina }}</h2>
            <hr>
              {% for atraction in ar_atractions %}
                <a class="anchor" id="{{ atraction.id }}"></a>
                <h3>{{ atraction.name }}</h3>
                {{ atraction.description | safe }}
              {% endfor %}
          </div>
          <div class="blog-post">
            <a class="anchor" id="py"></a>
            <h2 class="blog-post-title">{{ paraguay }}</h2>
            <hr>
              {% for atraction in py_atractions %}
                <a class="anchor" id="{{ atraction.id }}"></a>
                <h3>{{ atraction.name }}</h3>
                {{ atraction.description | safe }}
              {% endfor %}
          </div>
        </div><!-- /.blog-main -->
        <div class="col-md-2" role="complementary">
          <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
            <ul class="nav bs-docs-sidenav"  id="spy-sidebar">
              <li>
                <a href="#br">{{ brazil }}</a>
                <ul class="nav">
                  {% for atraction in br_atractions %}
                    <li><a href="#{{ atraction.id }}">{{ atraction.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <a href="#ar">{{ argentina }}</a>
                <ul class="nav">
                  {% for atraction in ar_atractions %}
                    <li><a href="#{{ atraction.id }}">{{ atraction.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <a href="#py">{{ paraguay }}</a>
                <ul class="nav">
                  {% for atraction in py_atractions %}
                    <li><a href="#{{ atraction.id }}">{{ atraction.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <br>
            <a class="back-to-top" href="#top">
              {% trans "Back to top" %}
            </a>
          </nav>
        </div>
      </div><!-- /.row -->
    </div>}
{% endblock %}
