{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="icon" href="../../favicon.ico">

  <title>IguazuFallsTour - {% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "iftsite/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!--  Custom CSS-->
  <link href="{% static "iftsite/css/styles.css" %}" rel="stylesheet">
  <link href="{% static "iftsite/css/blog.css" %}" rel="stylesheet">
  <link href="{% static "iftsite/css/bootstrap-datepicker.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static "iftsite/js/main.js" %}"></script>
  <script src="{% static "iftsite/js/packages.js" %}"></script>
  <script src="{% static "iftsite/js/validator.min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
  {% if LANGUAGE_CODE == 'pt-br' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
  {% endif %}


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#spy-sidebar" data-offset="140">
  <div id="wrapper">
    <div id="content">
      <!-- Navbar -->
      <div class="navbar navbar-default navbar-fixed-top" id="top-navbar">
        <div style="height:20px; background-color:#02A65A;"></div>
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'iftsite:home' %}"><span>Brand</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right" id="top-navbar">
              <li>
                <a>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value="pt-br">
                    <input type="image" src="{% static "iftsite/media/br.png" %}" alt="Submit Form" />
                </form>
                </a>
              </li>
              <li>
                <a>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value="en">
                    <input type="image" src="{% static "iftsite/media/gb.png" %}" alt="Submit Form" />
                </form>
                </a>
              </li>
              <li><a href="{% url 'iftsite:home' %}">Home</a></li>
              <li><a href="{% url 'bookings:packages' %}">{% trans "Packages" %}</a></li>
              <li><a href="{% url 'iftsite:atractions' %}">{% trans "Atractions" %}</a></li>
              <li><a href="{% url 'contact_form' %}">{% trans "Contact Us" %}</a></li>
              {% if request.user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Welcome" %} {{ request.user.first_name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'bookings:mybookings'%}">{% trans "My bookings" %}</a></li>
                    <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                  </ul>
                </li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Welcome" %} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a></li>
                    <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <!-- end Navbar -->


      <!-- Content -->
      <div class="offset-top">
      {% block content %}
      {% endblock %}
      </div>
      <!-- end Content -->
    </div>

    <div id="footer">
      <!-- Footer -->
      <footer class="section section-primary">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 footer-links">
                      <h1><i class="fa fa-compass fa-2x"></i></h1>
                      <h2>{% trans "Travel Guide" %}</h2>
                      <ul class="footer-links">
                        {% for guide in guides %}
                          <li><a href="{{ guide.get_absolut_url }}"><h4>{{ guide.title }}</h4></a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-md-4 footer-links">
                      <h1><i class="fa fa-wrench fa-2x"></i></h1>
                      <h2>{% trans "Utilities" %}</h2>
                      <ul class="footer-links">
                        {% for utility in utilities %}
                          <li><a href="{{ utility.get_absolut_url }}"><h4>{{ utility.title }}</h4></a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-md-4 footer-links">
                      <h1><i class="fa fa-lightbulb-o fa-2x"></i></h1>
                      <h2>{% trans "Misc" %}</h2>
                      <ul class="footer-links">
                        {% for misc in miscs %}
                          <li><a href="{{ misc.get_absolut_url }}"><h4>{{ misc.title }}</h4></a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src={% static "iftsite/bootstrap/js/bootstrap.min.js" %}></script>
</body>

</html>
