{% extends 'iftsite/base.html' %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block content %}
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for i in carousel_indicators %}
        {% if forloop.first %}
          <li data-target="#home-carousel" class="active" data-slide-to="{{ i }}"></li>
        {% else %}
          <li data-target="#home-carousel" data-slide-to="{{ i }}"></li>
        {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for slide in carousel_slides %}
        {% if forloop.first %}
          <div class="item active">
            <a href="{% if slide.url %} {{ slide.url }} {% else %} # {% endif %}">
            <img src="{{ slide.image }}">
            </a>
          </div>
        {% else %}
          <div class="item">
            <a href="{% if slide.url %} {{ slide.url }} {% else %} # {% endif %}">
            <img src="{{ slide.image }}" alt="...">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Previous" %}</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Next" %}</span>
    </a>
  </div>

  <!-- Three countries -->
  <div class="section" id="home-main-section">
    <div class="container">
      <div class="row">
        <!-- Brazil -->
        <div class="col-md-4">
          <div class="panel country-panel">
            <div class="panel-heading-transparency"></div>
            <div class="panel-heading" role="tab">
              <a class="" role="button" data-toggle="collapse" href="#brazil-collapse-group" aria-expanded="true">
                <h2>{% trans "Brazil" %}</h2>
                <i class="fa fa-chevron-circle-down fa-2x"></i>
              </a>
            </div>
            <div id="brazil-collapse-group" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
              <div class="list-group">
                {% for atraction in br_atractions %}
                  <a href="/atractions/#{{ atraction.id }}" class="list-group-item">{{ atraction.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- Argentina -->
        <div class="col-md-4">
          <div class="panel country-panel">
            <div class="panel-heading-transparency"></div>
            <div class="panel-heading" role="tab">
              <a class="" role="button" data-toggle="collapse" href="#argentina-collapse-group" aria-expanded="true">
                <h2>{% trans "Argentina" %}</h2>
                <i class="fa fa-chevron-circle-down fa-2x"></i>
              </a>
            </div>
            <div id="argentina-collapse-group" class="panel-collapse collapse" role="tabpanel" aria-expanded="true">
              <div class="list-group">
                {% for atraction in ar_atractions %}
                  <a href="/atractions/#{{ atraction.id }}" class="list-group-item">{{ atraction.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- Paraguay -->
        <div class="col-md-4">
          <div class="panel country-panel">
            <div class="panel-heading-transparency"></div>
            <div class="panel-heading" role="tab">
              <a class="" role="button" data-toggle="collapse" href="#paraguay-collapse-group" aria-expanded="true">
                <h2>{% trans "Paraguay" %}</h2>
                <i class="fa fa-chevron-circle-down fa-2x"></i>
              </a>
            </div>
            <div id="paraguay-collapse-group" class="panel-collapse collapse" role="tabpanel"aria-expanded="true">
              <div class="list-group">
                {% for atraction in py_atractions %}
                  <a href="/atractions/#{{ atraction.id }}" class="list-group-item">{{ atraction.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}