{% extends 'iftsite/base.html' %}
{% block title %} Packages {% endblock %}
{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 blog-main">
        <div class="blog-header">
          <h1 class="blog-title">{{ post.title }}</h1>
        </div>
        <div class="blog-post">
          <hr>
          {{ post.text | safe }}
        </div>
      </div>
    </div>
 </div>
{% endblock %}
