{% extends 'iftsite/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Book Package{% endblock %}
{% block content %}
<div class="container">
     <div class="row">
      <div class="blog-main col-md-8 col-md-offset-2">
        <div class="blog-header">
          <a class="anchor" id="top"></a>
          <h1 class="blog-title">{% trans "Book your visit" %}</h1>
          <p class="lead blog-description">{% trans "Book the package below." %}</p>
        </div>
        <div class="">
          <h2 class="blog-post-title">{{ package.name }}</h2>
          <p>{{ package.description }}</p>
          <h3>{% trans "What's included" %}:</h3>
          <ul>
          {% for item in items.included %}
            <li>
              <a style="cursor:pointer;" data-toggle="modal" data-target="#item-{{ item.pk }}-info-modal">
                {{ item }}
              </a>
            </li>
          {% endfor %}
          </ul>
          {% if items.excluded %}
            <h3>{% trans "What's not included:" %}</h3>
            <ul>
            {% for item in items.excluded %}
              <li>
                <a style="cursor:pointer;" data-toggle="modal" data-target="#item-{{ item.pk }}-info-modal">
                  {{ item.item.title }}
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
        <hr>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="blog-main col-md-5 col-md-offset-2">
      {% crispy form %}
      <script type="text/javascript">
        $('.datepicker').datepicker({
          startDate: "today",
          autoclose: true,
          {% if LANGUAGE_CODE == 'pt-br' %}
          language: "pt-BR",
          {% endif %}
        })
      </script>
    </div>
  </div>
</div>
{% for item in items.included %}
<div class="modal fade" id="item-{{ item.pk }}-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ item.item.title }}</h4>
      </div>
      <div class="modal-body blog-main">
        {{ item.item.info|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% for item in items.excluded %}
<div class="modal fade" id="item-{{ item.pk }}-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ item.item.title }}</h4>
      </div>
      <div class="modal-body blog-main">
        {{ item.item.info|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="modal fade" id="tac-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ tac.title }}</h4>
      </div>
      <div class="modal-body blog-main">
        {{ tac.text|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
