{% extends "iftsite/base.html" %}
{% load i18n %}
{% block title %} booking completed {% endblock %}

{% block content %}
<div class="container offset-top">
    <div class="row">
      <div class="blog-post blog-main col-md-4 col-md-offset-4">
        <p>{% trans "The package has been booked, a email was sent to you with more details, you can follow the status of your booking" %} <a href="/mybookings/">{% trans "here" %}</a>.</p>
      </div>
    </div>
</div>
{% endblock %}
