{% extends 'iftsite/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} Create your package {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="blog-main col-md-8 col-md-offset-2">
        <div class="blog-header">
          <a class="anchor" id="top"></a>
          <h1 class="blog-title">{% trans "Packages" %}</h1>
          <p class="lead blog-description">{% trans "Make your own package, choose hotel and tours and get a quotation." %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="blog-main col-md-5 col-md-offset-2">
        {% crispy form %}
        <script type="text/javascript">
          $('.datepicker').datepicker({
            startDate: "today",
            autoclose: true,
            {% if LANGUAGE_CODE == 'pt-br' %}
            language: "pt-BR",
            {% endif %}
          })
        </script>
      </div>
    </div>
  </div>
  <div class="modal fade" id="package-item-description-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="item-description-modal-title"></h4>
        </div>
        <div class="modal-body">
          <script>
            function resize_iframe(obj) {
              obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
            }
          </script>
          <iframe frameborder="0" id="package-item-description" onload="resize_iframe(this)"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="tac-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ tac.title }}</h4>
      </div>
      <div class="modal-body blog-main">
        {{ tac.text|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
