{% spaceless %}
<p>New booking:</p>
<strong>User:</strong> {{ user.email }}
<br>
<strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}
<br><br>
<strong>Package:</strong> {{ package }}
<br>
What's included:
    <ul>
    {% for item in package.items.all %}
        {% if item.item.included %}
        <li>{{ item }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% if package.package_type == 'offered' %}
What's not included:
    <ul>
    {% for item in package.items.all %}
        {% if not item.item.included %}
        <li>{{ item.item.title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
<strong>Numbe of people:</strong> {{ number_of_people }}
<br>
{% if package.package_type == 'offered' %}
<strong>Price:</strong> U${{ instance.get_price }}
<br>
{% endif %}
<strong>Booking date:</strong> {{ booking_date }}
<br>
<strong>Start date:</strong> {{ start_date }}
<br>
<strong>Arrival location:</strong> {{ arrival_location }}
<br>
{% if additional_info %}
<strong>Aditional information:</strong> {{ additional_info }}
<br>
{% endif %}
<br>
Iguazu Falls Tours
<br>
{{ site }}
{% endspaceless %}