{% load i18n %}
{% spaceless %}
<p>{% trans "Hello" %} {{ user.first_name }},</p>
<p>{% trans "Thank you for booking with us, this is your booking information" %}:</p>

<strong>{% trans "Package" %}:</strong> {{ package }}
<br>
{% trans "What's included" %}:
    <ul>
    {% for item in package.items.all %}
        {% if item.item.included %}
        <li>{{ item }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% if package.package_type == 'offered' %}
{% trans "What's not included" %}:
    <ul>
    {% for item in package.items.all %}
        {% if not item.item.included %}
        <li>{{ item.item.title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
<strong>{% trans "Number of people" %}:</strong> {{ number_of_people }}
<br>
{% if package.package_type == 'offered' %}
<strong>{% trans "Price" %}:</strong> U${{ instance.get_price }}
<br>
{% endif %}
<strong>{% trans "Start date" %}:</strong> {{ start_date }}
<br>
<strong>{% trans "Arrival location" %}:</strong> {{ arrival_location }}
<br>
{% if additional_info %}
<strong>{% trans "Aditional information" %}:</strong> {{ additional_info }}
<br>
{% endif %}
<p>{% trans "You can follow the status of your booking" %} <a href="{{ site }}/mybookings/">{% trans "here" %}</a>.</p>
Iguazu Falls Tours
<br>
{{ site }}
{% endspaceless %}