{% load staticfiles %}
<link href="{% static "iftsite/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "iftsite/css/blog.css" %}" rel="stylesheet">
<div class="blog-main">
    {{ item.info | safe }}
</div>