{% extends 'iftsite/base.html' %}
{% load i18n %}
{% block title %}My Package{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
      <div class="blog-main col-md-8 col-md-offset-2">
        <div class="blog-header">
          <a class="anchor" id="top"></a>
          <h1 class="blog-title">{% trans "My Bookings" %}</h1>
          <p class="lead blog-description">{% trans "Your Bookings." %}</p>
        </div>
        {% if not bookings %}
          <p>{% trans "You haven't booked any package yet. Check out our packages" %} <a href="{% url 'bookings:packages' %}">{% trans "here" %}!</a></p>
        {% endif %}
        {% for booking, properties in bookings.items %}
          <div>
            <h2 class="blog-post-title">{{ properties.package.name }}</h2>
            {% if properties.package.description %}
              <p>{{ properties.package.description }}</p>
            {% endif %}
            <h3>{% trans "What's included" %}:</h3>
            <ul>
              {% for item in properties.included %}
                  <li><a style="cursor:pointer;" data-toggle="modal" data-target="#item-{{ item.pk }}-info-modal">{{ item }}</a></li>
              {% endfor %}
            </ul>
            {% if properties.excluded %}
            <h3>{% trans "What's not included" %}:</h3>
            <ul>
              {% for item in properties.excluded %}
                  <li><a style="cursor:pointer;" data-toggle="modal" data-target="#item-{{ item.pk }}-info-modal">{{ item }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <p>{{ booking.get_formated_price }}</p>
            <p>{% trans "Start date" %}: {{ booking.start_date }}</p>
            <p>{% trans "Arrival at" %}: {{ booking.arrival_location }}</p>
            <p>Status: {{ booking.get_status_display }}</p>
          </div>
          <hr>
          {% for item in properties.included %}
          <div class="modal fade" id="item-{{ item.pk }}-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{ item.item.title }}</h4>
                </div>
                <div class="modal-body blog-main">
                  {{ item.item.info|safe }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% for item in properties.excluded %}
            <div class="modal fade" id="item-{{ item.pk }}-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{ item.item.title }}</h4>
                </div>
                <div class="modal-body blog-main">
                  {{ item.item.info|safe }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}