{% extends 'iftsite/base.html' %}
{% load i18n %}
{% block title %} Packages {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="blog-main col-md-8 col-md-offset-2">
        <div class="blog-header">
          <a class="anchor" id="top"></a>
          <h1 class="blog-title">{% trans "Packages" %}</h1>
          <p class="lead blog-description">{% trans "Checkout our packages." %}</p>
        </div>
        <div class="jumbotron blog-post">
          <h1>{% trans "Make Your Custom Package!" %}</h1>
          <p>{% trans "Choose hotel and tours. Price on request." %}</p>
          <p><a class="btn btn-success btn-lg" href="{% url 'bookings:custom-package' %}" role="button">{% trans "Learn more" %}</a></p>
        </div>
        <hr>
        {% for package, properties in packages.items %}
          <div>
            <h2 class="blog-post-title">{{ package.name }}</h2>
            <p>{{ package.description }}</p>
            <h3>{% trans "What's included" %}:</h3>
            <ul>
            {% for item in properties.included %}
                <li><a style="cursor:pointer;" data-toggle="modal" data-target="#item-{{ item.pk }}-info-modal">{{ item }}</a></li>
            {% endfor %}
            </ul>
            {% if properties.excluded %}
              <h3>{% trans "What's not included" %}:</h3>
              <ul>
              {% for item in properties.excluded %}
                  <li><a style="cursor:pointer;" data-toggle="modal" data-target="#item-{{ item.pk }}-info-modal">{{ item.item.title }}</a></li>
              {% endfor %}
              </ul>
              <h3>{% trans "Prices:" %}</h3>
              <ul>
              {% for n_people, price in properties.prices.items %}
              <li>{{ price }}</li>
              {% endfor %}
              </ul>
            {% endif %}
            <form id="package-{{ package.pk }}-form"  method="post">
              {% csrf_token %}
              <input type="hidden" name="package_id" value="{{ package.pk }}">
              <button class="btn btn-success" type="submit" form="package-{{ package.pk }}-form">{% trans "Book this package" %}</button>
            </form>
          </div>
          <hr>
          {% for item in properties.included %}
          <div class="modal fade" id="item-{{ item.pk }}-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{ item.item.title }}</h4>
                </div>
                <div class="modal-body blog-main">
                  {{ item.item.info|safe }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% for item in properties.excluded %}
            <div class="modal fade" id="item-{{ item.pk }}-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{ item.item.title }}</h4>
                </div>
                <div class="modal-body blog-main">
                  {{ item.item.info|safe }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
