{% extends 'iftsite/base.html' %}
{% load i18n %}
{% block title %} Atractions {% endblock %}
{% block content %}

<div class="container">
<div class="row">
<div class="blog-main col-md-4 col-md-offset-4">
<p>{% trans "Your message has been sent succesfully, we will respond as fast as possible" %}!</p>
</div>    
</div>
</div>

{% endblock %}