{% extends 'iftsite/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} Atractions {% endblock %}
{% block content %}

<div class="container">
<div class="row">
<div class="blog-main col-md-4 col-md-offset-4">
<form method='post'>
{% csrf_token %}
{{ form|crispy }}
<input class="btn btn-success" type="submit" value={% trans "Submit" %}>
</form>
</div>    
</div>
</div>

{% endblock %}