/*
 * Blog name and description
 */

.blog-main h1, .h1,
.blog-main h2, .h2,
.blog-main h3, .h3,
.blog-main h4, .h4,
.blog-main h5, .h5,
.blog-main h6, .h6 {
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

a.anchor {
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}

/*============ Content sidebar ============*/

.bs-docs-sidebar.affix {
  position: static;
}

@media (min-width:768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 140px;
  }
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
/*  font-size: 13px;*/
  font-weight: 500;
  color: #767676
}

.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
  padding-left: 19px;
  color: #02A65A;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #02A65A;
}

.bs-docs-sidebar .nav>.active:focus>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: #02A65A;
  background-color: transparent;
  border-left: 2px solid #02A65A;
}

.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
/*  font-size: 12px;*/
  font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a:focus,
.bs-docs-sidebar .nav .nav>li>a:hover {
  padding-left: 29px
}

.bs-docs-sidebar .nav .nav>.active:focus>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active>a {
  padding-left: 28px;
  font-weight: 500
}

@media (min-width:992px) {
  .bs-docs-sidebar .nav>.active>ul {
    display: block
  }
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px
  }
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 20px
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute
  }
  .bs-docs-sidebar.affix .bs-docs-sidenav,
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0
  }
}

@media (min-width:1200px) {
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 263px
  }
}

.back-to-top {
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999
}

.back-to-top:link {
  text-decoration: none;
}

.back-to-top:hover {
  color: #02A65A;
}