html, body {
  height: 100%;
  margin: 0;
}
#wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

#content {
  display: table-row;
  /* height is dynamic, and will expand... */
  height: 100%;
  /* ...as content is added (won't scroll) */
}

#footer {
  display: table-row;
  background: lightgray;
}

#top-navbar a:hover {
  color: #80DAC6;
}

.navbar-nav {
  font-weight: 500;
}

#navbar-active {
  color: #80DAC6;
}

#home-carousel {
  margin-bottom: 60px;
  /*margin-top: 120px;*/
  margin-top: -40px;
  overflow: hidden;
}

#home-main-section {
  margin-bottom: 60px;
}

#footer {
  background-color: #02A65A;
  color: #fff;
  padding: 10px 0px 10px 0px;
  /*margin-top: 60px;*/
  text-align: center;
}

#footer a {
    color: #fff;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.country-panel {
  background-image: url("http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png");
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 0;
}

.country-panel .panel-heading {
  margin-top: 200px;
  position: relative;
  text-align: center;
  color: #fff;
}

.country-panel .panel-heading-transparency {
  opacity: 0.7;
  background-color: #000;
  margin-top: 200px;
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.country-panel .list-group {
  text-align: center;
}

.country-panel .list-group .list-group-item {
  background-color: #02A65A;
  color: #fff;
}

.country-panel .list-group .list-group-item:hover {
  background-color: deepskyblue;
}

.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.country-panel .panel-heading a:link {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.country-panel .panel-heading a:hover {
  color: #fff;
  opacity: 1;
}

#footer a:link {
  text-decoration: none;
}

#footer a:hover {
  color: lightskyblue;
}

#package-item-description {
    position: relative;
    width: 100%;
}

#signin-form {
  margin-top: 200px;
}

.offset-top {
  margin-top: 140px;
  margin-bottom: 50px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}